html, body, ul, li {
	margin: 20;
	padding: 0;
	background: #333333;
}
#heading {
	color: #fff422;
}

h1 {
	text-align: center;
	font-family: 'Do Hyeon', sans-serif;

}

#cryptomachine{
	margin: 20px auto;
	text-align: center;

}

#cryptomachine .input_box_message input.input_message{
	width: 450px;
	height: 450px;
	position: center;
	border-radius: 10%;
	opacity: 1;
	text-align: center;
}

#cryptomachine .input_box_key input.input_key{
	width: 450px;
	height: 15px;
	position: center;
	transition: opacity 1s;
	border-radius: 15px;
	font-size: 12pt;
	color: #333333;
}

#cryptomachine .alertKeyMessage {
	text-align: center;
	color: white;
	font-family: 'Do Hyeon', sans-serif;
	transition: opacity 1s;
	font-size: 14pt;
}

#cryptomachine .outputCode {
	text-align: center;
	color: white;
	font-family: 'Do Hyeon', sans-serif;
	transition: opacity 1s;
	font-size: 14pt;
}

input {
  background: #fff422;
  color: #000129;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  padding: 10px;
  margin: 10px auto;
}

.input_message {
	font-size: 14pt;
	color: #333333;
}



#cryptomachine .button {
	opacity: 1;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 12pt;
	color: white;
} 

.btn_encrypt {
 	font-size: 14pt;
	color: #333333;


}

.btn_decrypt {
 	font-size: 14pt;
	color: #333333;
	margin-left: 60px;

}





