html, body, ul, li {
	margin: 20;
	padding: 0;
	background: #333333;
}
#heading {
	color: #60B9CE;
}

h1 {
	text-align: center;
	font-family: 'Do Hyeon', sans-serif;

}

#calc{
	margin: 20px auto;
	text-align: center;

}

#calc .input_box input.input_digits{
	text-align:right;
	width: 444px;
	height: 40px;
	position: center;
	transition: opacity 1s;
	border-radius: 15px;
	font-size: 20pt;
	color: #333333;
}

input {
  background: #60B9CE;
  color: #000129;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  padding: 10px;
  margin: 2px auto;
}

.input_message {
	font-size: 18pt;
	color: #333333;
}



#calc .button {
	opacity: 1;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 12pt;
	color: white;
} 

.btn_ac {
 	font-size: 18pt;
	color: #333333;


}

.btn_calculate {
 	font-size: 18pt;
	color: #333333;
	margin-left: 60px;


}



.btn_7 {
 	font-size: 18pt;
	color: #333333;
	margin-left: 0px;
    width: 113px;
    height: 90px;
}

.btn_8 {
 	font-size: 18pt;
	color: #333333;
	margin-left: 0px;
    width: 113px;
    height: 90px;
}

.btn_9 {
 	font-size: 18pt;
	color: #333333;
	margin-left: 0px;
    width: 113px;
    height: 90px;
}

.btn_division {
 	font-size: 18pt;
	color: #333333;
    width: 113px;
    height: 90px;
    background: #04819E;
}

.btn_4 {
 	font-size: 18pt;
	color: #333333;
	margin-left: 0px;
    width: 113px;
    height: 90px;
}

.btn_5 {
 	font-size: 18pt;
	color: #333333;
	margin-left: 0px;
    width: 113px;
    height: 90px;
}

.btn_6 {
 	font-size: 18pt;
	color: #333333;
	margin-left: 0px;
    width: 113px;
    height: 90px;
}

.btn_multiplication {
 	font-size: 18pt;
	color: #333333;
    width: 113px;
    height: 90px;
    background: #04819E;
}

.btn_1 {
 	font-size: 18pt;
	color: #333333;
	margin-left: 0px;
    width: 113px;
    height: 90px;
}

.btn_2 {
 	font-size: 18pt;
	color: #333333;
	margin-left: 0px;
    width: 113px;
    height: 90px;
}

.btn_3 {
 	font-size: 18pt;
	color: #333333;
	margin-left: 0px;
    width: 113px;
    height: 90px;
}

.btn_subtraction {
 	font-size: 18pt;
	color: #333333;
    width: 113px;
    height: 90px;
    background: #04819E;
}

.btn_0 {
 	font-size: 18pt;
	color: #333333;
	margin-left: 0px;
    width: 113px;
    height: 90px;
}

.btn_comma {
 	font-size: 18pt;
	color: #333333;
	margin-left: 0px;
    width: 113px;
    height: 90px;
}

.btn_percent {
 	font-size: 18pt;
	color: #333333;
	margin-left: 0px;
    width: 113px;
    height: 90px;
    background: #04819E;
}

.btn_addition {
 	font-size: 18pt;
	color: #333333;
    width: 113px;
    height: 90px;
    background: #04819E;
}



